html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;
}

h1.head1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div.head1 {
    background: url(../web/web1/acsi-supermarket-industry-scaled.jpg);
    padding-top: 2px;
    padding-left: 20px;
}

.mama {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    color: black;
    margin: 0;
    z-index: 2;
}

#kuku {
    text-decoration: none;
    color: white;
}

.buto {
    background-color: rgb(138, 134, 141);
    border-radius: 5px;
    padding: 2px 4px;
    border: 1px solid;

}

.buto:hover {
    background-color: rgb(162, 174, 170);

    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 2px 3px rgb(216, 186, 186);
}

.row>.div1 {
    margin-top: 550px;
    background-color: white;
}

img {
    height: 110px;
    width: 110px;
}

#overview {
    height: 100vh;
}
#billing{
    height: 100vh;
}

#companyname {
    color: white;
}

#picha-font {
    background-image: url(../picha/Mikoba/IMG-20240122-WA0015.jpg);
}
/* first */
.image-contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.image-contaner a img {
    width: 100%;
    margin: 2px;
    border: 2px solid rgb(181, 158, 158);
}


@media (min-width:992px) {
    .image-contaner {
        display: flex;
    }

    .image-contaner a img {
        width: 100%;
        height: 100%;
    }
}

@media(min-width:768px) and (max-width:991) {
    .image-contaner {
        display: flex;
    }

    .image-contaner a img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:767px) {
    .image-contaner {
        display: block;
    }

    .image-contaner a img {
        width: 100%;
        height: 100%;
    }
}


/* center */
.image-contaner1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.image-contaner1 a img {
    width: 100%;
    margin: 1px;
    border: 1px solid rgb(181, 158, 158);
}


@media (min-width:992px) {
    .image-contaner1 {
        display: block;
    }

    .image-contaner1 a img {
        height: 100%;
        width: 100%;
    }
}

@media(min-width:768px) and (max-width:991) {
    .image-contaner1 {
        display: block;
    }

    .image-contaner1 a img {
        width: 20%;
        height: 20%;
    }
}

@media (max-width:767px) {
    .image-contaner1 {
        display: block;
    }

    .image-contaner1 a img {
        width: 18.0%;
        height: 18.0%;
    }
}
div a{
    text-decoration: none;
    color: black;
}